*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after, ul.menu:after {
    content: "";
    clear: both;
    display: block;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33%;
}

.col-md-6 {
    width: 50%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.67%;
}

.col-md-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.logo{
    margin-top: 7px;
}

.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
}

.submenu li:first-child {
    padding-top: 18px;
    background-color: #2c71b8;
    margin-left: -1px;
}

.submenu li:last-child {
    padding-bottom: 18px;
    background-color: #2c71b8;
}
.submenu a {
    display: block;
    height: 40px;
    text-decoration: none;
    color:white;
    text-align: left;
    line-height: 40px;
    font-style: 21px;
    padding-left: 30px;
}


.menu > li:hover a, .menu > li:active a{
    background-color: #2c71b8 ;
    color: white;
}

.menu li ul {
    position: absolute;
    width: 285px;
    padding: 0;
    display: none;
}

.menu li.menu2 {
    display: none;
}

.menu li:hover .submenu {
    display: block;
  }


.col{
    float: left;
}

.form-search {
    border: 1px solid #2c71b8;
    margin-top: 5px;
    padding: 4px;
    height: 40px;
    position: relative;
}

.form-search input {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 21px;
    width: 150px;
    vertical-align: center !important;
}

.form-search input:focus {
    outline: 0;
}

.cart {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(images/cartblue.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    background-position: center;
    position: relative;

}

.product-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    color: white;
    position: absolute;
    text-align: center;
    line-height: 20px;
    left: -10px;
    top: -10px;
}
   
.arrow {
    background-image: url("images/arrowblue.png");
    background-repeat: no-repeat;
    background-position: 91% 50%;
}


.arrow:hover, .arrow:active, .submenu:hover .arrow  {
    background-image: url("images/arrowwhite.png");
    background-repeat: no-repeat;
    background-position: 91% 50%;
}

.search-btn {
    float: right;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;

}


::-webkit-input-placeholder {
    color: #2c71b8;
}

/* Firefox 19+ */
::-moz-placeholder {
    color: #2c71b8;
}

/* Firefox 18- */
:-moz-placeholder {
    color: #2c71b8;
}

:-ms-input-placeholder {
    color: #2c71b8;
}

.submenu li a:hover {
    background-color: white;
    color: #2c71b8;
}

.main-header {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.back-end {
    font-size: 14px;
    color: #cadbed;
}

.back-end-part {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sort {
    float: right;
    font-size: 21px;
    background-color: #2c71b8;
    color: white;
    line-height: 40px;
    height: 40px;
    outline: none;
    border: 0;
    margin-bottom: 30px;
}

.product {
    margin-top: 30px;
    height: 650px;
    border: 1px solid white;
}

.product-body {
    padding-top: 14px;
    padding-left: 15px;
}

.product-image {
    background-color: rgba(255,255,255,0.75);
    height: 180px;
    text-align: center;
    padding-top: 45px;
}

.product-title {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}

.product-description {
    font-size: 21px;
    font-weight: 300;
    line-height: 26px;
}

.product-features {
    line-height: 31px;
    font-size: 21px;
    font-weight: 300;
}

p > b {
    font-weight: 500;
}

.product-price {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

sup {
    vertical-align: super;
    font-size: 50%;
}

.product-body {
    color: white;
}

.prd-btn {
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 210px;
    font-size: 21px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 15px;
}

.details {
    background-color: rgba(255,255,255,0);
    margin-bottom: 15px;
}

.add {
    background-color: rgba(255,255,255,0.2);
}